root = true

[*]
indent_style = space
indent_size = 3
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*{.cpp,c,h,hpp}]
charset = utf-8
indent_style = space
indent_size = 4
cpp_indent_access_specifiers = false
end_of_line = lf

[*.yaml]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
